.nav-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}
